h2{
    font-size: 2rem;
    text-align: center;
    font-family: 'Rubik', sans-serif ;
}

h3{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.topnav{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    width: 40%;
}

.topnav li{

    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: red;
}
 .box:hover{
border: 1px solid red;
border-radius: 5px;
padding: 5px 10px;
font-size: 1rem;
}


.menu  {
    width: 5%;
    display: none;

    

}

.intro p{
    text-align: left;
}

.intro{
    display: flex;
    justify-content: space-between;
}

.intro img{
    width:50%;
}

.intro button{
    width: auto;
    height: auto;
    padding: 8px 16px;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

.btn1{
    border: 1px solid  hsl(231, 69%, 60%);
    background-color:  hsl(231, 69%, 60%);
}

.btn2{
    border: 1px solid lightgrey;
    background-color: lightgrey;
}


.Bmanager{
    margin-left: 5%;
    width: 45%;
    text-align: left;
    font-size: 1.2rem;

    font-family: 'Rubik', sans-serif;
}

.features p{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

p{
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    color: hsl(229, 8%, 60%);
    text-align: center;
    
}

.midnav{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.appear{display: none;}

.midnav li{
    width: 20%;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif ;
}

.click{
    display: flex;
 justify-content: space-between;
}

.click button{
    margin-left: 33%;

    padding: 8px 16px;
    background-color: hsl(231, 78%, 51%);
    border: 1px solid hsl(231, 78%, 51%) ;
    border-radius: 4px;
}


.click img{
    width: 40%;
    margin-left: 8%;
}

.options{
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Rubik', sans-serif;
}

.chrome{
    display: block;
justify-content: center;
    margin-top: 10px;
    margin-right: 2%;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 15%;
    height: auto;
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.04) ,2px 2px 2px 2px rgba(0, 0, 0, 0.04);
}

.chrome img{
    margin-top: 50px;
    margin-left: 23%;
    margin-right: 23%;
}

.chrome button{
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 5px;
    border: 1px solid hsl(231, 78%, 51%) ;
    border-radius: 10px;
    background-color: hsl(231, 78%, 51%) ;
    padding: 8px 10px;
    color: white;
}

.firefox{
    display: block;
    justify-content: center;
        margin-top: 20px;
        margin-right: 2%;
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 10px;
        width: 15%;
        height: auto;
        box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.04) ,2px 2px 2px 2px rgba(0, 0, 0, 0.04);
}

.firefox button{
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 5px;
    border: 1px solid hsl(231, 78%, 51%) ;
    border-radius: 10px;
    background-color: hsl(231, 78%, 51%) ;
    padding: 8px 10px;
    color: white;
}

.firefox img{
    margin-top: 50px;
    margin-left: 23%;
    margin-right: 23%;
}
.opera{
    display: block;
justify-content: center;
    margin-top: 30px;
    margin-right: 2%;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 15%;
    height: auto;
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.04) ,2px 2px 2px 2px rgba(0, 0, 0, 0.04);
}

.opera button{
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 5px;
    border: 1px solid hsl(231, 78%, 51%) ;
    border-radius: 10px;
    background-color: hsl(231, 78%, 51%) ;
    padding: 8px 10px;
    color: white;
}

.opera img{
    margin-top: 50px;
    margin-left: 23%;}

.download hr{
    border-top: dotted 5px hsl(229, 8%, 60%);
    width: 100%;
}

.faq{
font-family: 'Rubik', sans-serif ;


}

figure{
    display: flex;
    justify-content: space-evenly ;
    width: 75%;
}

#mybookmark{
    display: block;
}

figcaption{
    width: 30%;
}




.new {
    color: yellow;
    width: 70%;
margin-left: 15%;
margin-right: 15%;
}

.faq button{
    padding: 10px 16px;
    background-color: hsl(231, 78%, 51%);
    border: 1px solid hsl(231, 78%, 51%) ;
    border-radius: 4px;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    color: white;
}

footer{
    font-family: 'Rubik', sans-serif;
    color: white;
    
}

footer p{
    color: white;  
}

footer nav{
    background-color: hsl(229, 31%, 21%);

}

.joined{
    margin-top: 60px;
}

.inquire{
    background-color: #00f ;
    width: 100%;
}

.footnav{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.footnav li{
    margin-right: 4%;
}
.footnav .one{
    margin-left: 6% ;
}

@media screen and (max-width: 868px){
    .topnav li{
        margin-right: 40px;}

        
}


@media screen and (max-width: 670px){

    nav{
        
        margin: 0;
        width: 100%;
    }

    .topnav{
        position: absolute;
        right:0px;
        height:92vh;
        top: 2vh;
        background-color:#000033 ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }

    .none{
        opacity: 1;
        color: white;
    }

    .menu {
        display: block !important;
        cursor: pointer;
    }
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px)
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
    
}

@media screen and (max-width: 400px){
    .intro{
        display: block;
    }

    .intro img{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .bcontrol{
        display: flex;
    
        justify-content: center;
    }
    .btn1{margin-right: 5%;}

    .bcontrol button{
        margin-bottom: 70px;
        font-size: 0.6rem;
        width: 40%;
        height: auto;
        padding: 3px 6px;
    
}
.features .p1{
    width: 90%;
    margin-left: 5%;
        margin-right: 5%;

}

.midnav{
    display: block;

}

.midnav li{
    width:80%;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.appear{
    display: block;
    width: 100%;
}

.click{
    display: block;
}

.options{
    display: block;

}

.options div{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

}

.faq p{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.float button{
    width: auto;
    height: auto;
    padding: 8px 16px;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

.lastnav{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}

.footnav{
    display: block;
    font-size: 1.5rem;
    
    

}

.footnav li{
    letter-spacing: 3px;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 100;
}

.inquire button{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 10px;
    height: auto;
    padding: 8px 16px;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    background-color: #fe2c54;
}

input{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 8px 16px;
    border: 1px solid #fe2c54;
}

}









